*.x
*.a
*.o
*.mod
make.sys
*~
example/dos.dat
example/lindhard.dat
doc/ja/_build/
doc/en/_build/
autom4te.cache/
config.h
config.log
config.status
libtool
Makefile
stamp-h1
*.la
*.lo
*.so
*.so.*
*.lai
*.Po
test/*.sh.log
test/*.sh.trs
test/test.in
test/test.out
test/test.out.ref
test/test-suite.log
